* {
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-image: linear-gradient(rgb(255, 60, 0), orange);
  color: #fff;
  padding: 9px 5px 7px 5px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  padding-right: 2em;
  padding-left: 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 800;
}
.nav a:hover {
  color: rgb(12, 213, 248);
  letter-spacing: 2px;
}
.header {
  display: flex;
}
.half-width {
  width: 50%;
  margin-top: 18%;
  margin-left: 60px;
  padding-left: 10px;
}
.half-width img {
  width: 80%;
}
h1 {
  font-size: 28px;
}
span {
  text-align: center;
  color: rgb(6, 243, 6);
}
button {
  background-image: linear-gradient(skyblue, aqua);
  font-family: "Oswald", sans-serif;
  border: none;

  padding: 20px 25px;
  font-size: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin: 0%;
}

a {
  text-decoration: none;
  color: rgb(255, 253, 240);
  font-weight: 600;
}
.btn {
  padding: 12% 10px 5px 23px;
}
#ch{
  color: rgb(73, 73, 73);
}
.mid {
  display: flex;
  background-image: url("./food-network-main/images/shapes/Frame\ 59.jpg");
}
#chef {
  background-image: linear-gradient(rgb(36, 252, 90), rgb(38, 223, 192));
}
.recipes{
  text-align: center;
  padding: 20px 20px;
}
.recipes-feild{
  display: flex;
}
footer{
  text-align: center;
  background-image: linear-gradient(rgb(29, 24, 24), black);
  color:aquamarine;
  padding: 15px;
}
