.c-section {
  color: blue;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
}
.c-section img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.c-btn {
  background-color: rgb(255, 255, 255);
  border: 1px solid orange;
  border-radius: 1rem;
  padding: 0.5rem;
  text-transform: lowercase;
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
  width: 50%;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.c-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    filter: saturate(180%);
    overflow: hidden;
    position: relative;
    content: "";
    display: center;
}